#logo{
    background-color: #1c345a;
    color: white;
}#content-footer{
    background-color: #1c345a;
    color: white;
}
/*
    #logo, footer{
    background-color: #1c345a;
    color: white;
}*/

/*#logo, #content-footer{
    background-color: #1c345a;
    color: white;
}*/